/* Custom font et family */

body{

	color: rgb(50,50,50);
	font-family: times;
	font-size: 20px;
	font-weight: thin;
}

h1{
	color:#CCC;
	font-family: helvetica;
	font-size: 50px;
	letter-spacing: 5px;
	text-align: center;
	text-transform: uppercase;
}



a{

	color:white;
	font-size: 10px;
	font-family: monospace;
}


}


#banner{

	font-size: 25px;
	font-variant: small-caps;
	font-weight: bold;
	text-align: justify;
}

#banner a:hover{

	color: rgb(50,50,0);

}

#para{
	
	text-align: center;
	font-family: times;
	font-size: 20px;
	font-weight: bold;
	color: rgb(255,255,255);
	letter-spacing: 5px;

}


.card h2{


	font-family: helvetica; 
	font-size: 20px;
	font-variant: small-caps;
	font-weight: lighter;

}

.card{

	color: rgb(20,10,0);
	font-family: robot;
	font-size: 25px;
	font-weight: lighter;
	text-align: center;
}

#card2{

	color: rgb(20,10,0);
	font-family: robot;
	font-size: 25px;
	font-weight: lighter;

}


#card2 h2{
	visibility: hidden;
	text-align: center;
}


#footer{

	color: #FFF;
	font-family: 'Open+Sans+Condensed';
	font-size: 15px;
	font-weight: normal;
}

/* more custum design */

body{

	margin:0;
	background-color: rgb(209,209,209); 

}

h1{
	
	text-shadow: 2px 5px 1px black;
	opacity: 0.8;
}

#para{

	text-shadow: 1px 1px 1px black; 
	border-top:1px solid #CCC;
	position: relative;
	bottom: 0px;

}


#banner a{

	border:1px solid #CCC;
	border-radius: 5px;
	background-color: #CCC;
	text-decoration:none;
	opacity: 0.8;
	
}


#banner{

	background-image: url('https://picsum.photos/1000/600/?random');
	background-size: cover;
	border-bottom: 2px solid white;
	box-shadow: 2px 2px 1px black; 
	margin: auto;
	padding: 150px 0px;
}

#nav{

	padding:150px 0px; 
	text-align: center;
}


.card{

	text-shadow: 1px 1px 1px grey;	 
	border: none;
	background-color: rgb(255,255,255);
	margin: 20px 20px 20px 20px;
	padding: 100px 0px;
	opacity: 0.8;
}

.card ul{

	list-style-type: none;
	text-transform: capitalize;
	font-family: courier;
	font-size: 19px;
	font-weight: bold; 
}
#Prendre_contact{

	margin: 20px 20px 20px 20px;
	padding: 50px 30px 30px 50px; 
} 

#footer{

	background-color: #000;
	border: solid 2px black;
	border-radius: 15px;
	margin: 10px 5px 10px 5px;
	padding: 10px 10px;
	display: flex;
	justify-content: flex-end;
	justify-content: space-between;
	justify-content: space-around;

	
}

#footer ul{


	display: inline-flex;
	flex-direction: column;
	justify-content: flex-start;
	justify-content: space-between;

}

#footer img{
	
	height: 20px;
	width: 20px;
	border: 1px solid white;
	border-radius: 50%;
	box-shadow: 1px 1px 1px grey;
}

#footer a{

	
	color: white;

}

#footer a:hover{

	color: grey;
}
